.container {
  height: 420px;
  width: 420px;
}

.salvarButton {
  width: 250px;
  height: 2.5rem;
  background: #28818a;
  color: #000;
  border: #2c343c;
  margin-top: 30px;
}

.downloadImage {
  height: 420px;
  width: 420px;
}

.content {
  position: absolute;
  height: 420px;
  width: 420px;
}

.nameContent {
  position: relative;
  color: #fff;
  top: 332px;
  left: 220px;
}

.nameContent h3 {
  font-family: "Poppins", sans-serif;
  color: #ff9900;
  cursor: move;
  font-size: 20px;
}

/* .content {
  position: absolute;

  height: 450px;
  width: 450px;
}

.imageBg {
  position: relative;
  height: 450px;
  width: 450px;
  z-index: -1;
}

.nameContent {
  position: relative;
  top: 360px;
  left: 265px;
}

.nameContent h3 {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  cursor: move;
}

.example-boundary {
  width: 100px;
  height: 100px;
  max-width: 100%;
  border: dotted #ccc 2px;
}

#download {
  display: none;
}

#imageDownload {
  height: 450px;
  width: 450px;
}

.imageDownload {
  height: 450px;
  width: 450px;
}

.salvarButton {
  width: 250px;
  height: 2.5rem;
  background: #28818a;
  color: #000;
  border: #2c343c;
  margin-top: 30px;
} */
