.content {
  position: absolute;
  border: dotted #ccc 2px;
  height: 450px;
  width: 450px;
}

.imageBg {
  position: relative;

  z-index: -1;
}

.nameContent {
  position: relative;
  top: 360px;
  left: 265px;
}

.nameContent h3 {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  cursor: move;
}

.example-boundary {
  width: 100px;
  height: 100px;
  max-width: 100%;
  border: dotted #ccc 2px;
}
