<div id="downloadImage" class="downloadImage" #images>
  <img src="./assets/images/{{ imageUrl }}.png" alt="" height="420px" width="420px">
</div>
<button (click)="captureScreen()" class="salvarButton">Salvar Imagem</button>


<div class="nameContent">
  <h3 class="example-box" cdkDragBoundary=".content" cdkDrag>{{ name }}</h3>
</div>




<div id="download">
  <img #canvas>
  <a #downloadLink></a>
</div>

<!-- <div class="imageDownload" id="downloadImage">
  <div class="content">
    <img src="./assets/images/{{ imageUrl }}.png" alt="">



    <button (click)="captureScreen()" class="salvarButton">Salvar Imagem</button>


  </div>

  <div class="nameContent">
    <h3 class="example-box" cdkDragBoundary=".content" cdkDrag>{{ name }}</h3>
  </div>

  <div class="imageBg" [ngStyle]="{'left.px': leftPosition, 'top.px': topPosition}" #screen>
    <img [src]="avatarUrl" [ngStyle]="{'width.px': imageSize, 'height.px': imageSize}" *ngIf="avatarUrl">
  </div>
  <div id="download">
    <img #canvas>
    <a #downloadLink></a>
  </div>


</div> -->
