.container {
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;

  width: 450px;
}

input {
  width: 250px;
  height: 2.5rem;
  background: #e1e1e1;
  color: #000;
  border: #2c343c;
  font-size: 1rem;
  padding: 10px;
  margin-bottom: 1rem;
}

label {
  font-family: "Poppins";
  padding-top: 1rem;
}

select {
  width: 250px;
  height: 2.5rem;
  background: #e1e1e1;
  color: #000;
  border: #2c343c;
  font-size: 1rem;
  padding: 10px;
  margin-bottom: 1rem;
}

select#fixed {
  -webkit-appearance: none;
}

.enviarButton {
  width: 250px;
  height: 2.5rem;

  color: #000;
  border: #2c343c;
}

.botoes {
  background: #e1e1e1;
  height: 2.5rem;
  width: 10px;
  margin-right: 10px;
}
